# Chapter 4 - exercise 1: Hãy thực hiện những yêu cầu liên quan tới series như sau:
1. Tạo nd_array_1 có 5 phần tử số nguyên,nd_array_2 có 5 phần tử số nguyên. Chuyển 2 array này thành 2 series là series1 và series2. Tính cộng, trừ, nhân, chia 2 series này. In các kết quả
2. So sánh xem các phần tử của series1 có >, <. = các phần tử của series2 không?
3. Cho 2 series, tạo series3 chỉ chứa các phần tử có trong series1 mà không có trong series2. in series3
4. Sử dụng lại 2 series là series1 và series2, tạo series6 chứa các phần tử chỉ có trong series1 và chỉ có trong series2
5. Tạo 1 series có 35 phần tử ngẫu nhiên có giá trị trong khoảng 1 đến 9. In shape, head và tail của series này. In series theo dạng array. Thống kê thông tin chung của series. Cho biết tổng của series. Cho biết phần tử có tần suất xuất hiện nhiều nhất
6. Sử dụng series của câu trên. In ra những dòng trong series mà giá trị chia hết cho 2 và cho 3
7. Từ series của câu 5 phía trên, in ra các giá trị unique (array)
8. Từ series của câu 5 phía trên, in các phần tử ở vị trí 0, 5, 10, 15
9. Từ series của câu 5 phía trên hãy tạo một series mới với mỗi phần tử có giá trị = lập phương của phần tử trong series. In head của serires mới
10. Cho list sau: lst = ["abc", "defg", "htlmj", "dfg", "ljsac"]. Tạo series từ lst này.Tạo series mới với mỗi phần tử có giá trị là chiều dài của phần tử trong series trên
11. Cho ser = pd.Series(np.array([1, 2, 4, 5, 8, 7, 6, 9])). In ser. In ra những dòng trong series mà giá trị là số nguyên tố
12. Cho mẫu email như sau pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'. Tạo một series mà mỗi phần tử là một chuỗi. In ra những dòng trong series thỏa điều kiện chuỗi là email

In [1]:
%config IPCompleter.greedy = True
import numpy as np
import pandas as pd

In [2]:
# Câu 1: 
# Tạo nd_array_1 có 5 phần tử số nguyên,nd_array_2 có 5 phần tử số nguyên
# Chuyển 2 array này thành 2 series là series1 và series2
# Tính cộng, trừ, nhân, chia 2 series này
nd_array_1 = np.array([2, 4, 6, 8, 10])
nd_array_2 = np.array([1, 3, 5, 7, 11])
series1 = pd.Series(nd_array_1)
print(series1)
series2 = pd.Series(nd_array_2)
print(series2)

0     2
1     4
2     6
3     8
4    10
dtype: int32
0     1
1     3
2     5
3     7
4    11
dtype: int32

In [3]:
series1 + series2

0     3
1     7
2    11
3    15
4    21
dtype: int32

In [4]:
series1 - series2

0    1
1    1
2    1
3    1
4   -1
dtype: int32

In [5]:
series1 * series2

0      2
1     12
2     30
3     56
4    110
dtype: int32

In [6]:
series1 / series2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    0.909091
dtype: float64

In [7]:
# Câu 2: So sánh xem các phần tử của series1 có >, <. = các phần tử của series2 không?
series1 > series2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [8]:
series1 < series2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
series1 == series2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [10]:
# Câu 3: Cho 2 series, tạo series3 chỉ chứa các phần tử có trong series1 mà không có trong series2. in series3
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser3 = ser1[~ser1.isin(ser2)]
ser3

0    1
1    2
2    3
dtype: int64

In [11]:
print(ser1.isin(ser2))

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [12]:
# Câu 4: Sử dụng lại 2 series là series1 và series2, tạo series6 chứa các phần tử chỉ có trong ser1 và chỉ có trong ser2
ser4 = ser1[~ser1.isin(ser2)]
ser5 = ser2[~ser2.isin(ser1)]
ser6 = ser4.append(ser5)
ser6

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [13]:
# Câu 5: Tạo 1 series có 35 phần tử ngẫu nhiên có giá trị trong khoảng 1 đến 9. In shape, head và tail của series này.
# In series theo dạng array
# Thống kê thông tin chung của series
# Cho biết tổng của series
# Cho biết phần tử có tần suất xuất hiện nhiều nhất
ser = pd.Series(np.random.randint(1, 10, 35))
print(ser)
print(ser.shape)
print(ser.head())
print(ser.tail())
print(ser.values)

0     6
1     2
2     8
3     1
4     7
5     5
6     1
7     4
8     5
9     8
10    8
11    8
12    1
13    8
14    5
15    8
16    9
17    7
18    2
19    2
20    2
21    9
22    8
23    2
24    8
25    4
26    8
27    2
28    4
29    4
30    8
31    8
32    4
33    8
34    2
dtype: int32
(35,)
0    6
1    2
2    8
3    1
4    7
dtype: int32
30    8
31    8
32    4
33    8
34    2
dtype: int32
[6 2 8 1 7 5 1 4 5 8 8 8 1 8 5 8 9 7 2 2 2 9 8 2 8 4 8 2 4 4 8 8 4 8 2]

In [14]:
ser.describe()

count    35.000000
mean      5.314286
std       2.773524
min       1.000000
25%       2.000000
50%       5.000000
75%       8.000000
max       9.000000
dtype: float64

In [15]:
ser.sum()

186

In [16]:
ser.mode()

0    8
dtype: int32

In [17]:
# Câu 6:  Sử dụng series của câu trên. In ra những dòng trong series mà giá trị chia hết cho 2 và cho 3
ser[(ser % 2 == 0) & (ser % 3 == 0)]

0    6
dtype: int32

In [18]:
# Câu 7: Từ series của câu 5 phía trên, in ra các giá trị unique (array)
ser.unique()

array([6, 2, 8, 1, 7, 5, 4, 9], dtype=int64)

In [19]:
# Câu 8: Từ series của câu trên, in các phần tử ở vị trí 0, 5, 10, 15
pos = [0, 5, 10, 15]
ser[pos]

0     6
5     5
10    8
15    8
dtype: int32

In [20]:
# Câu 9: Từ series của câu 5 trên hãy tạo một series mới với mỗi phần tử có giá trị = lập phương của phần tử trong series. 
# In head của serires mới
import math
print(ser.head())
ser2 = ser.map(lambda x: math.pow(x,3))
print(ser2.head())

0    6
1    2
2    8
3    1
4    7
dtype: int32
0    216.0
1      8.0
2    512.0
3      1.0
4    343.0
dtype: float64

In [21]:
# Câu 10: Cho list sau: lst = ["abc", "defg", "htlmj", "dfg", "ljsac"]. Tạo series từ lst này. 
# Tạo series mới với mỗi phần tử có giá trị là chiều dài của phần tử trong series trên
lst = ["abc", "defg", "htlmj", "dfg", "ljsac"]
ser3 = pd.Series(lst)
ser3

0      abc
1     defg
2    htlmj
3      dfg
4    ljsac
dtype: object

In [22]:
ser4 = ser3.map(lambda x: len(x))
ser4

0    3
1    4
2    5
3    3
4    5
dtype: int64

In [23]:
# Câu 11: Cho ser = pd.Series(np.array([1, 2, 4, 5, 8, 7, 6, 9])). In ser. 
# In ra những dòng trong series mà giá trị là số nguyên tố
def test_prime(number):
    count = 0
    for i in range(1, number + 1):
        if number % i == 0:
            count += 1
    return count == 2

In [24]:
ser = pd.Series(np.array([1, 2, 4, 5, 8, 7, 6, 9]))
print(ser)
ser5 = ser.map(lambda x: test_prime(x))
print(ser5)
print(ser[ser5])

0    1
1    2
2    4
3    5
4    8
5    7
6    6
7    9
dtype: int32
0    False
1     True
2    False
3     True
4    False
5     True
6    False
7    False
dtype: bool
1    2
3    5
5    7
dtype: int32

In [25]:
# Câu 12: Cho mẫu email như sau pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'.
# Tạo một series mà mỗi phần tử là một chuỗi
# In ra những dòng trong series thỏa điều kiện chuỗi là email
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
emails = pd.Series(['reading newspaper from tuoitre.vn', 'tubirona@gmail.com', 'nguyen.nn@yahoo.com', 'tran_2014@hotmail.com.vn'])
is_email = emails.map(lambda x: bool(re.match(pattern, x)))
emails[is_email]

1          tubirona@gmail.com
2         nguyen.nn@yahoo.com
3    tran_2014@hotmail.com.vn
dtype: object

In [26]:
# Câu 13: 
'''Cho ser_names = pd.Series(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'])
In ra những dòng trong series trên thỏa điều kiện trong chuỗi có 'Price'
'''
ser_names = pd.Series(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'])
ser_names

0           Manufacturer
1                  Model
2                CarType
3              Min_Price
4                  Price
5              Max_Price
6               MPG_city
7            MPG_highway
8                AirBags
9             DriveTrain
10             Cylinders
11            EngineSize
12            Horsepower
13                   RPM
14          Rev_per_mile
15       Man_trans_avail
16    Fuel_tank_capacity
17            Passengers
18                Length
19             Wheelbase
20                 Width
21           Turn_circle
22        Rear_seat_room
23          Luggage_room
24                Weight
25                Origin
26                  Make
dtype: object

In [27]:
has_Price = ser_names.map(lambda s: 'Price' in s)
has_Price.head()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [28]:
names_Price = ser_names[has_Price]
names_Price

3    Min_Price
4        Price
5    Max_Price
dtype: object