In [2]:
import numpy as np
import pandas as pd

In [3]:
s1 = pd.Series(np.random.randn(5))
print(s1)

0    0.075773
1    0.389220
2    1.385687
3    1.159879
4    0.607850
dtype: float64

In [4]:
print("The axes are:")
print(s1.axes)

The axes are:
[RangeIndex(start=0, stop=5, step=1)]

In [5]:
s2 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s2)
print("The axes are:")
print(s2.axes)

a    1
b    2
c    3
d    4
e    5
dtype: int64
The axes are:
[Index(['a', 'b', 'c', 'd', 'e'], dtype='object')]

In [6]:
print(s1)
print(s1.dtype)

0    0.075773
1    0.389220
2    1.385687
3    1.159879
4    0.607850
dtype: float64
float64

In [7]:
print(s2)
print(s2.dtype)

a    1
b    2
c    3
d    4
e    5
dtype: int64
int64

In [8]:
print(s1.empty)

False

In [9]:
print(s2.empty)

False

In [10]:
print(s1.ndim)

1

In [11]:
print(s2.ndim)

1

In [12]:
print(s1.size)

5

In [13]:
print(s2.size)

5

In [14]:
# get values as array
print(s1.values)

[0.07577293 0.38922031 1.38568735 1.15987859 0.60784992]

In [15]:
print(s2.values)

[1 2 3 4 5]

In [16]:
print(s1.head(2))

0    0.075773
1    0.389220
dtype: float64

In [17]:
print(s2.tail(3))

c    3
d    4
e    5
dtype: int64

In [18]:
# cập nhật phần tử 
s3 = pd.Series([12,21,11],index = ['idx1','idx2','idx3'])
s3['idx3'] = 100
print(s3)

idx1     12
idx2     21
idx3    100
dtype: int64

In [19]:
print(s2)
s3 = s2.drop(s2.index[[0, 2, 4]])
print(s3)

s3 = s2.drop(['c','d'])
print(s3)

a    1
b    2
c    3
d    4
e    5
dtype: int64
b    2
d    4
dtype: int64
a    1
b    2
e    5
dtype: int64

In [20]:
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [22]:
s3 = s2.map(lambda x: x * x)
s3

a     1
b     4
c     9
d    16
e    25
dtype: int64