In [3]:
import numpy as np
import pandas as pd

In [21]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Minh','Xuân','Thanh','Hoàng','Thắng','Hai','Thanh',
   'Bình','Hậu','Huy','Thùy','Tuyền']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)

     Name  Age  Rating
0    Minh   25    4.23
1    Xuân   26    3.24
2   Thanh   25    3.98
3   Hoàng   23    2.56
4   Thắng   30    3.20
5     Hai   29    4.60
6   Thanh   23    3.80
7    Bình   34    3.78
8     Hậu   40    2.98
9     Huy   30    4.80
10   Thùy   51    4.10
11  Tuyền   46    3.65

In [24]:
print(df.sum()) # tổng theo cột
print(df['Age'].sum())

Name      MinhXuânThanhHoàngThắngHaiThanhBìnhHậuHuyThùyT...
Age                                                     382
Rating                                                44.92
dtype: object
382

In [6]:
print(df.sum(1)) # tổng theo dòng

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [7]:
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [8]:
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [9]:
print(df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [10]:
print(df. describe(include='all'))

         Name        Age     Rating
count      12  12.000000  12.000000
unique     11        NaN        NaN
top     Thanh        NaN        NaN
freq        2        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000

In [11]:
print(df['Age'].mode())

0    23
1    25
2    30
dtype: int64

In [12]:
print(df.mode())

     Name   Age  Rating
0   Thanh  23.0    2.56
1     NaN  25.0    2.98
2     NaN  30.0    3.20
3     NaN   NaN    3.24
4     NaN   NaN    3.65
5     NaN   NaN    3.78
6     NaN   NaN    3.80
7     NaN   NaN    3.98
8     NaN   NaN    4.10
9     NaN   NaN    4.23
10    NaN   NaN    4.60
11    NaN   NaN    4.80

In [13]:
df.mode(axis=0)

     Name   Age  Rating
0   Thanh  23.0    2.56
1     NaN  25.0    2.98
2     NaN  30.0    3.20
3     NaN   NaN    3.24
4     NaN   NaN    3.65
5     NaN   NaN    3.78
6     NaN   NaN    3.80
7     NaN   NaN    3.98
8     NaN   NaN    4.10
9     NaN   NaN    4.23
10    NaN   NaN    4.60
11    NaN   NaN    4.80

In [14]:
print(df.any()) # trả về True nếu ANY ELEMENT là True

Name      True
Age       True
Rating    True
dtype: bool

In [15]:
print(df.all())

Name      True
Age       True
Rating    True
dtype: bool

In [16]:
df['Age'] > 30

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9     False
10     True
11     True
Name: Age, dtype: bool

In [17]:
my_list = [25,26,25,23,30,29,23,38,40,30,51,46,55,60]
print(np.sort(my_list))
df = pd.DataFrame(my_list)
print(df.describe())

[23 23 25 25 26 29 30 30 38 40 46 51 55 60]
               0
count  14.000000
mean   35.785714
std    12.656276
min    23.000000
25%    25.250000
50%    30.000000
75%    44.500000
max    60.000000