In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel("data/Data.xlsx", sheet_name='boundary')
df.head()

     NAME  Ma_Huyen             Tinh      LAT      LNG
0  Quận 1     70101  TP. Hồ Chí Minh  10.7838  106.698
1  Quận 1     70101  TP. Hồ Chí Minh  10.7807  106.695
2  Quận 1     70101  TP. Hồ Chí Minh  10.7781  106.692
3  Quận 1     70101  TP. Hồ Chí Minh  10.7748  106.689
4  Quận 1     70101  TP. Hồ Chí Minh  10.7721  106.687

In [11]:
df['geometry'] = list(zip(df['LAT'],df['LNG']))

In [13]:
df.head()

,NAME,Ma_Huyen,Tinh,LAT,LNG,Coordinates,geometry
0,Quận 1,70101,TP. Hồ Chí Minh,10.7838,106.698,"(10.7838, 106.698)","(10.7838, 106.698)"
1,Quận 1,70101,TP. Hồ Chí Minh,10.7807,106.695,"(10.7807, 106.695)","(10.7807, 106.695)"
2,Quận 1,70101,TP. Hồ Chí Minh,10.7781,106.692,"(10.7781, 106.692)","(10.7781, 106.692)"
3,Quận 1,70101,TP. Hồ Chí Minh,10.7748,106.689,"(10.7748, 106.689)","(10.7748, 106.689)"
4,Quận 1,70101,TP. Hồ Chí Minh,10.7721,106.687,"(10.7721, 106.687)","(10.7721, 106.687)"

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5165 entries, 0 to 5164
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NAME         5165 non-null   object
 1   Ma_Huyen     5165 non-null   int64
 2   Tinh         5165 non-null   object
 3   LAT          5165 non-null   float64
 4   LNG          5165 non-null   float64
 5   Coordinates  5165 non-null   object
 6   geometry     5165 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 282.6+ KB

In [15]:
lst = df['geometry'].groupby(df.NAME)

In [16]:
lst

In [17]:
lst[0]

AbstractMethodError: This method must be defined in the concrete class SeriesGroupBy