In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Toronto.csv", index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 3 columns):
Postcode         103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
dtypes: object(3)
memory usage: 3.2+ KB

In [4]:
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [12]:
df.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W  Etobicoke                                          Northwest

In [6]:
df_M = pd.read_csv("Canadian Postal Codes_M.csv")
df_M.head()

,PostalCode,FSA,Latitude,Longitude,Place Name,FSA1,FSA-Province,AreaType
0,M1B0A1,M1B,43.686504,-79.279742,Scarborough,M,35,Urban
1,M1B0A2,M1B,43.816416,-79.227300,Scarborough,M,35,Urban
2,M1B0B2,M1B,43.806686,-79.194353,Scarborough,M,35,Urban
3,M1B1A1,M1B,43.797724,-79.227187,Scarborough,M,35,Urban
4,M1B1A2,M1B,43.798343,-79.227464,Scarborough,M,35,Urban

In [7]:
# define the dataframe columns
column_names = ['Postcode','Borough', 'Neighbourhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [8]:
neighborhoods

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood, Latitude, Longitude]
Index: []

In [9]:
for index, row in df.iterrows():
    for index1, row1 in df_M.iterrows():
        if row['Postcode'] == row1['FSA']:
            neighborhoods = neighborhoods.append({'Postcode' : row['Postcode'],
                                        'Borough': row['Borough'],
                                        'Neighbourhood': row['Neighbourhood'],
                                        'Latitude': row1['Latitude'],
                                        'Longitude': row1['Longitude']}, ignore_index=True)    
            break

In [10]:
neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 5 columns):
Postcode         102 non-null object
Borough          102 non-null object
Neighbourhood    102 non-null object
Latitude         102 non-null float64
Longitude        102 non-null float64
dtypes: float64(2), object(3)
memory usage: 4.1+ KB

In [11]:
neighborhoods.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.686504,-79.279742
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.787100,-79.157666
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763592,-79.162531
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.770175,-79.239475

In [13]:
neighborhoods.tail()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
97,M9N,York,Weston,43.703733,-79.526100
98,M9P,Etobicoke,Westmount,43.682304,-79.526542
99,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.705143,-79.550809
100,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.741141,-79.589232
101,M9W,Etobicoke,Northwest,43.692253,-79.584683