In [15]:
%config IPCompleter.greedy = True

In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_excel('du_lieu_5.xlsx')
print(df.shape, type(df))

(16, 6) <class 'pandas.core.frame.DataFrame'>

In [18]:
print(df)

               Name Team        Position  Height  Weight    Age
0     Adam_Donachie  BAL         Catcher      74     180  22.99
1         Paul_Bako  BAL         Catcher      74     215  34.69
2   Ramon_Hernandez  BAL         Catcher      72     210  30.78
3      Kevin_Millar  BAL   First_Baseman      72     210  35.43
4       Chris_Gomez  BAL   First_Baseman      73     188  35.71
5     Brian_Roberts  BAL  Second_Baseman      69     176  29.39
6     Miguel_Tejada  BAL       Shortstop      69     209  30.77
7       Melvin_Mora  BAL   Third_Baseman      71     200  35.07
8       Aubrey_Huff  BAL   Third_Baseman      76     231  30.19
9        Adam_Stern  BAL      Outfielder      71     180  27.05
10  Jeff_Fiorentino  BAL      Outfielder      73     188  23.88
11    Freddie_Bynum  BAL      Outfielder      73     180  26.96
12    Nick_Markakis  BAL      Outfielder      74     185  23.29
13    Brandon_Fahey  BAL      Outfielder      74     160  26.11
14  Corey_Patterson  BAL      Outfielder      69     180  27.55
15       Jay_Payton  BAL      Outfielder      70     185  34.27

In [19]:
tuoi = df['Age']
print(tuoi)

0     22.99
1     34.69
2     30.78
3     35.43
4     35.71
5     29.39
6     30.77
7     35.07
8     30.19
9     27.05
10    23.88
11    26.96
12    23.29
13    26.11
14    27.55
15    34.27
Name: Age, dtype: float64

In [20]:
# tuoi lon hon 30
tuoi_hon_30 = df[df['Age']>30]
print(tuoi_hon_30)

               Name Team       Position  Height  Weight    Age
1         Paul_Bako  BAL        Catcher      74     215  34.69
2   Ramon_Hernandez  BAL        Catcher      72     210  30.78
3      Kevin_Millar  BAL  First_Baseman      72     210  35.43
4       Chris_Gomez  BAL  First_Baseman      73     188  35.71
6     Miguel_Tejada  BAL      Shortstop      69     209  30.77
7       Melvin_Mora  BAL  Third_Baseman      71     200  35.07
8       Aubrey_Huff  BAL  Third_Baseman      76     231  30.19
15       Jay_Payton  BAL     Outfielder      70     185  34.27

In [21]:
df['Height_m'] = df['Height'] * 0.0254
print(df.head(3))

              Name Team Position  Height  Weight    Age  Height_m
0    Adam_Donachie  BAL  Catcher      74     180  22.99    1.8796
1        Paul_Bako  BAL  Catcher      74     215  34.69    1.8796
2  Ramon_Hernandez  BAL  Catcher      72     210  30.78    1.8288

In [22]:
df.loc[df.shape[0]] = ['Jonny', 'BAL', 'Catcher', 74, 180, 22.99, 1.8796]
print(df.tail(3))

               Name Team    Position  Height  Weight    Age  Height_m
14  Corey_Patterson  BAL  Outfielder      69     180  27.55    1.7526
15       Jay_Payton  BAL  Outfielder      70     185  34.27    1.7780
16            Jonny  BAL     Catcher      74     180  22.99    1.8796

In [23]:
print(df.tail(3))

               Name Team    Position  Height  Weight    Age  Height_m
14  Corey_Patterson  BAL  Outfielder      69     180  27.55    1.7526
15       Jay_Payton  BAL  Outfielder      70     185  34.27    1.7780
16            Jonny  BAL     Catcher      74     180  22.99    1.8796

In [24]:
del df['Height_m']
print(df.head(3))

              Name Team Position  Height  Weight    Age
0    Adam_Donachie  BAL  Catcher      74     180  22.99
1        Paul_Bako  BAL  Catcher      74     215  34.69
2  Ramon_Hernandez  BAL  Catcher      72     210  30.78

In [27]:
df = df.drop(df.index[[16]])
print(df.tail(3))

               Name Team    Position  Height  Weight    Age
13    Brandon_Fahey  BAL  Outfielder      74     160  26.11
14  Corey_Patterson  BAL  Outfielder      69     180  27.55
15       Jay_Payton  BAL  Outfielder      70     185  34.27

In [28]:
print(df)

               Name Team        Position  Height  Weight    Age
0     Adam_Donachie  BAL         Catcher      74     180  22.99
1         Paul_Bako  BAL         Catcher      74     215  34.69
2   Ramon_Hernandez  BAL         Catcher      72     210  30.78
3      Kevin_Millar  BAL   First_Baseman      72     210  35.43
4       Chris_Gomez  BAL   First_Baseman      73     188  35.71
5     Brian_Roberts  BAL  Second_Baseman      69     176  29.39
6     Miguel_Tejada  BAL       Shortstop      69     209  30.77
7       Melvin_Mora  BAL   Third_Baseman      71     200  35.07
8       Aubrey_Huff  BAL   Third_Baseman      76     231  30.19
9        Adam_Stern  BAL      Outfielder      71     180  27.05
10  Jeff_Fiorentino  BAL      Outfielder      73     188  23.88
11    Freddie_Bynum  BAL      Outfielder      73     180  26.96
12    Nick_Markakis  BAL      Outfielder      74     185  23.29
13    Brandon_Fahey  BAL      Outfielder      74     160  26.11
14  Corey_Patterson  BAL      Outfielder      69     180  27.55
15       Jay_Payton  BAL      Outfielder      70     185  34.27

In [30]:
df.groupby('Position').mean()

                   Height      Weight        Age
Position
Catcher         73.333333  201.666667  29.486667
First_Baseman   72.500000  199.000000  35.570000
Outfielder      72.000000  179.714286  27.015714
Second_Baseman  69.000000  176.000000  29.390000
Shortstop       69.000000  209.000000  30.770000
Third_Baseman   73.500000  215.500000  32.630000