In [16]:
%config IPCompleter.greedy = True

In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])
print(df)

        one       two     three
a -1.550104 -0.787562  0.983748
c -0.484296 -0.320703 -0.197057
e -0.082679 -0.804688 -0.017881
f -0.187135 -0.828961 -0.557887
h  2.745590  0.367538 -0.700612

In [19]:
df.to_csv('first_data.csv')

In [20]:
df1 = pd.read_csv('first_data.csv')
print(df1)

  Unnamed: 0       one       two     three
0          a -1.550104 -0.787562  0.983748
1          c -0.484296 -0.320703 -0.197057
2          e -0.082679 -0.804688 -0.017881
3          f -0.187135 -0.828961 -0.557887
4          h  2.745590  0.367538 -0.700612

In [21]:
df2 = pd.read_csv('daily_weather.csv', index_col = 0, sep=',', nrows=10)
print(df2.shape, type(df2))

(10, 10) <class 'pandas.core.frame.DataFrame'>

In [31]:
mydf = df2['air_pressure_9am']
print(mydf)
print(type(mydf))
print(mydf.values)

number
0    918.060000
1    917.347688
2    923.040000
3    920.502751
4    921.160000
5    915.300000
6    915.598868
7    918.070000
8    920.080000
9    915.010000
Name: air_pressure_9am, dtype: float64
<class 'pandas.core.series.Series'>
[918.06      917.3476881 923.04      920.5027512 921.16      915.3
 915.5988675 918.07      920.08      915.01     ]

In [22]:
df2.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
number,,,,,,,,,,
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0,42.420000,36.160000
1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0,24.328697,19.426597
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20,8.900000,14.460000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0,12.189102,12.742547
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730,92.410000,76.740000

In [23]:
df2.describe(include='all')

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,918.416931,64.953404,170.754272,5.345284,175.338159,6.822988,0.892000,1492.000000,42.468522,38.184480
std,2.721695,13.091464,84.126356,4.738358,77.108104,5.884029,2.813731,4651.661113,32.780474,25.374365
min,915.010000,44.294000,40.700000,1.856660,63.000000,2.863283,0.000000,0.000000,8.900000,12.742547
25%,916.036073,53.942000,117.226385,2.464192,137.492887,3.561546,0.000000,0.000000,15.224001,19.916362
50%,918.065000,70.091100,180.337704,4.041475,187.803348,4.889839,0.000000,0.000000,32.355000,28.980000
75%,920.397063,73.967461,231.508033,4.837383,207.377506,6.403241,0.000000,15.000000,70.957500,60.077500
max,923.040000,80.582000,277.800000,17.067852,295.400000,22.100967,8.900000,14730.000000,92.410000,76.740000

In [24]:
df3 = pd.read_excel('first_data_excel.xlsx', index_col = 0, encoding='utf-8')
print(df3.shape, type(df3))

(5, 3) <class 'pandas.core.frame.DataFrame'>

In [25]:
print(df3)

        one       two     three
a -1.282701  1.114661  1.025230
c  0.743163 -0.715507 -0.676640
e  1.238341  0.352514  0.345264
f -0.209314  1.300077 -1.517246
h  1.225018 -0.322216  1.219772

In [26]:
xlsx = pd.ExcelFile('movies.xlsx')
df4 = pd.read_excel(xlsx, 'movies')
print(df4.shape, type(df4))

(9125, 3) <class 'pandas.core.frame.DataFrame'>

In [27]:
print(df4.head(3))

   movieId                    title  \
0        1         Toy Story (1995)
1        2           Jumanji (1995)
2        3  Grumpier Old Men (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance

In [28]:
df5 = df4.head(10)
df5.to_excel("movies_sub.xlsx", "movies")

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
df6 = pd.read_excel('movies_sub.xlsx', index_col = 0, encoding='utf-8')
print(df6.shape, type(df6))
print(df6.head(2))