In [9]:
%config IPCompleter.greedy = True
import numpy as np
import pandas as pd

In [10]:
# cắt chuỗi thành các phần tử của list
xlsx = pd.ExcelFile('du_lieu_6.xlsx')
df_right = pd.read_excel(xlsx, 'right')
print(df_right.shape, type(df_right))

(4, 4) <class 'pandas.core.frame.DataFrame'>

In [11]:
print(df_right)

  _key1 _key2 hide_date profession
0    K0    z0       h_0        p_0
1    K1    z1       h_1        p_1
2    K2    z2       h_2        p_2
3    K3    z3       h_3        p_3

In [12]:
xlsx = pd.ExcelFile('du_lieu_6.xlsx')
df_left = pd.read_excel(xlsx, 'left')
print(df_left.shape, type(df_left))

(4, 4) <class 'pandas.core.frame.DataFrame'>

In [13]:
df_merge = pd.merge(df_left, df_right, how='inner')
print(df_merge)

  _key1 _key2    city user_name hide_date profession
0    K0    z0  city_0    user_0       h_0        p_0
1    K1    z1  city_1    user_1       h_1        p_1
2    K2    z2  city_2    user_2       h_2        p_2
3    K3    z3  city_3    user_3       h_3        p_3

In [19]:
city = df_merge['city'].str.split('_')
print(city)

0    [city, 0]
1    [city, 1]
2    [city, 2]
3    [city, 3]
Name: city, dtype: object

In [24]:
city[2][1]

'2'

In [25]:
city_find = df_merge['city'].str.contains("2")
print(city_find)

0    False
1    False
2     True
3    False
Name: city, dtype: bool

In [26]:
city_new = df_merge['city'].str.replace('_', ' No ')
print(city_new)

0    city No 0
1    city No 1
2    city No 2
3    city No 3
Name: city, dtype: object

In [27]:
print(df_left)

  _key1 _key2    city user_name
0    K0    z0  city_0    user_0
1    K1    z1  city_1    user_1
2    K2    z2  city_2    user_2
3    K3    z3  city_3    user_3

In [43]:
city_extract = df_left['city'].str.extract('([a-z]{0,})', expand=True)
print(type(city_extract))
print(city_extract)

<class 'pandas.core.frame.DataFrame'>
      0
0  city
1  city
2  city
3  city

In [44]:
city_num = df_left['city'].str.extract('(\d)', expand=False)
print(type(city_num))
print(city_num)

<class 'pandas.core.series.Series'>
0    0
1    1
2    2
3    3
Name: city, dtype: object