In [1]:
%config IPCompleter.greedy = True

In [2]:
import numpy as np
import pandas as pd

In [4]:
df3 = pd.read_excel('du_lieu_1.xlsx', header=None)
print(df3.shape, type(df3))

(10, 2) <class 'pandas.core.frame.DataFrame'>

In [5]:
print(df3)

             0           1
0    -0.349596    -2.01720
1  9999.000000  9999.00000
2  9999.000000  9999.00000
3     0.113800     0.61610
4     0.014700    -1.73166
5  9999.000000  9999.00000
6     1.233080     0.72010
7  9999.000000  9999.00000
8  9999.000000  9999.00000
9  9999.000000  9999.00000

In [6]:
# thay the gia tri 9999.0 bang 0
df3 = df3.replace(9999.0, 0)

In [7]:
print(df3)

          0        1
0 -0.349596 -2.01720
1  0.000000  0.00000
2  0.000000  0.00000
3  0.113800  0.61610
4  0.014700 -1.73166
5  0.000000  0.00000
6  1.233080  0.72010
7  0.000000  0.00000
8  0.000000  0.00000
9  0.000000  0.00000

In [11]:
df4 = pd.read_excel('du_lieu_2.xlsx', header=None)
print(df4.shape, type(df4))

(7, 2) <class 'pandas.core.frame.DataFrame'>

In [12]:
print(df4)

          0       1
0 -0.349596 -2.0172
1       NaN     NaN
2  1.578300  0.6374
3       NaN     NaN
4       NaN     NaN
5       NaN     NaN
6 -1.145700  0.0529

In [14]:
# dien gia tri tren
df5 = df4.fillna(method='ffill')
print(df5)

          0       1
0 -0.349596 -2.0172
1 -0.349596 -2.0172
2  1.578300  0.6374
3  1.578300  0.6374
4  1.578300  0.6374
5  1.578300  0.6374
6 -1.145700  0.0529

In [15]:
# dien gia tri duoi
df6 = df4.fillna(method='backfill')
print(df6)

          0       1
0 -0.349596 -2.0172
1  1.578300  0.6374
2  1.578300  0.6374
3 -1.145700  0.0529
4 -1.145700  0.0529
5 -1.145700  0.0529
6 -1.145700  0.0529

In [16]:
df7 = pd.read_excel('du_lieu_3.xlsx', header=None)
print(df7.shape, type(df7))

(9, 3) <class 'pandas.core.frame.DataFrame'>

In [18]:
print(df7)

          0        1        2
0 -0.349596 -2.01720 -0.33450
1       NaN      NaN  0.06800
2  1.578300  0.63740  0.07521
3       NaN      NaN -0.25890
4       NaN      NaN  0.56550
5       NaN      NaN -2.28520
6 -1.145700  0.05290 -1.85410
7  0.770500  0.08500 -0.68540
8  0.097600  0.13705  1.25890

In [17]:
# xoa dong du lieu co NaN
df8 = df7.dropna(axis = 0)
print(df8)

          0        1        2
0 -0.349596 -2.01720 -0.33450
2  1.578300  0.63740  0.07521
6 -1.145700  0.05290 -1.85410
7  0.770500  0.08500 -0.68540
8  0.097600  0.13705  1.25890

In [19]:
# xoa cot du lieu co NaN
df9 = df7.dropna(axis = 1)
print(df9)

         2
0 -0.33450
1  0.06800
2  0.07521
3 -0.25890
4  0.56550
5 -2.28520
6 -1.85410
7 -0.68540
8  1.25890

In [21]:
df10 = df7.interpolate()
print(df10)

          0         1        2
0 -0.349596 -2.017200 -0.33450
1  0.614352 -0.689900  0.06800
2  1.578300  0.637400  0.07521
3  0.897300  0.491275 -0.25890
4  0.216300  0.345150  0.56550
5 -0.464700  0.199025 -2.28520
6 -1.145700  0.052900 -1.85410
7  0.770500  0.085000 -0.68540
8  0.097600  0.137050  1.25890